@import './common';
@import './example';


.search-form{
    background-color: cornflowerblue;
        padding: 15px;
}
.gallery{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .info{
        text-align: center;
    }
}